<form [formGroup]="form" (ngSubmit)="submit()">
  <h2>login as admin</h2>
  <div class="form-control">
    <label for="email">Email</label>
    <input id="email" type="email" formControlName="email">
    <div *ngIf="email.touched && email.invalid"
         class="validation">
      <small *ngIf="email.hasError('required')">Enter email</small>
      <small *ngIf="email.invalid">Enter correct email</small>
    </div>
  </div>
  <div class="form-control">
    <label for="password">Password</label>
    <input id="password" type="password" formControlName="password">
    <div *ngIf="password.touched && password.invalid"
    class="validation">
      <small *ngIf="password.hasError('required')">Enter password</small>
      <small *ngIf="email.hasError('minLength')">Password must be at least 6 characters!</small>
    </div>
  </div>
  <button type="submit" class="btn btn-primary btn-block" [disabled]="form.invalid || submitted">Log
    On</button>
</form>
